body{
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(150deg, black, gray);
    height:100vh;
    overflow:hidden;
    color:white;
}
.contenedor-principal{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:20px;
    gap:5px;
}
.info-user{
    display:grid;
    gap:10px;
    align-items: center;
    justify-content: center;
}
.info-user input{
    width:200px;
    height:30px;
    border-radius: 10px;
}
.contenedor-cursos{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
    margin:2ch;
    align-items: center;
    justify-content: center;
}
.curso{
    background:lightblue;
    height: 200px;
    border-radius:20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
button{
    width:150px;
    height:40px;
    border-radius: 20px;
    background-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.registro{
    color:black;
    background:lightblue;
    border-radius:20px;
    width:850px;
    height:200px;
    margin:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    padding:10px;

}